{% extends "layout.html" %}

{% block body %}

        {% if session['username'] %}
            <div class="top-half">

                <center>
                    <h1>CRC Web App</h1>
                    <button id="instructbutton" onclick="instructionWindow()">Instructions</button>
                </center>

                <script>
                    function instructionWindow() {
                        let windowParams = "width=650, height=350"
                        let newWin = window.open("", "", windowParams);
                        newWin.document.body.style.background = "#f0f0f0";
                        newWin.document.title = "CRC App Instructions"

                        newWin.document.body.innerHTML += '<div> \
                            <h4 style="text-align: center;">This application lets you auto-close SNOW scripts (and more later.)</h4> \
                            <h4 style="text-align: center;">Hover over each button to read what it does.</h4> \
                            <h5>For Regular Closers (Left Section):</h5> \
                            <p>Select your name from the dropdown, then press one of the red buttons to run a specific script.</p> \
                            <h5>For Customizable Closers (Middle Section):</h5> \
                            <p>Press the orange button to go to another menu screen and look at the available options.</p> \
                            <p>Customizable scripts work similarly, but allow you to change the close notes.</p> \
                            <h5>NOTE: This is still a work in progress and its look/functionality may change over time.</h5> \
                            </div>';
                    }
                </script>

                <!-- <form action="{{url_for('test_func')}}">
                    <button style="margin-left: 50px; padding: 3px;">Test Button</button>
                </form> -->

                <!-- This creates a dropdown menu of each CRC member.  Their name corresponds with their SNOW sys_id -->
                <!-- It was recommended to place the select element inside a form -->
                <form class="menu_form" id="left_choice_form" action="{{url_for('button_results')}}" method="POST">     <!-- onchange="actionOnChange()"  -->

                    <!--  Dropdown menu  -->
                    <select class="member_select"  id="chosen_member" name="chosen_member" required>
                        <option value="" hidden>Select Your Name</option>
                        {% for selected_person, sys_id in crc_team_dict.items() %}
                            <option value={{sys_id}} {% if chosen_member=='{{sys_id}}' %} selected {% endif %}>
                                {{selected_person}}</option>
                        {% endfor %}
                    </select>
        
        
                    <script>
                        function memberSelect(){
                            var select = document.getElementById("chosen_member");
                            var chosenMember = select.options[select.selectedIndex].value;
                            // vv both do same thing? vvvvv
                            document.getElementById('left_choice_form').action = chosenMember;
                            // window.open(chosenMember,'_blank');
                        }
                    </script>
            </div>


                <div class="bottom-half">
                    
                    <!-- Left side  -->
                    <div class="button-section left-side">

                        <h2 class="button-list-title" id="button-list-left">SNOW Ticket Closers</h2>

                        <input class="menubutton" type="submit" 
                            title="Main purpose of script: To close any open KnowBe4 tickets assigned to you that have both of their child tasks completed by Tier-2/Tier-3/InfoSec" 
                            name="action" value="KnowBe4 Phishing">
                        
                        <input class="menubutton" type="submit" 
                        title="Main purpose of script: To close any/all open, unassigned Site24x7 tickets that can be closed/resolved.  (Good for duplicate tickets/flapping monitors.)"
                            name="action" value="Site24x7">                       
    
                        <input class="menubutton" type="submit" 
                        title="Main purpose of script: To close any/all New, open, and unassigned tickets generated by Agios.   (Good for duplicate tickets/flapping monitors)" 
                            name="action" value="Agios">
                        
                    </div>
                </form>



                <form class="menu_form" id="right_choice_form" action="{{url_for('custom_notes')}}" method="POST">

                    <!--  Right side  -->
                    <div class="button-section middle-side">

                        <h2 class="button-list-title" id="button-list-middle">Customizable SNOW Closers</h2>

                        <input class="custombutton" type="submit"
                        title="This button redirects you to another page that allows you to insert custom Close Notes (besides 'This ticket has been closed via API etc etc') into SNOW tickets you're closing."
                            name="customaction" value="Custom Ticket Closers">

                    </div>
                </form>


                <div class="button-section right-side">
                    
                    <h2 class="button-list-title" id="button-list-right">Other Scripts</h2>

                    <input class="otherbutton" type="submit" value="Coming Soon!">

                </div>


            </div>

        {% else %}

            <!--  Nothing will be displayed if you aren't logged in  -->
            <p></p>

        {% endif %}

{% endblock %}

